[includeIf "gitdir:D:/amrbashir/"]
       path = D:/amrbashir/.amrbashir.gitconfig

[includeIf "gitdir:C:/Users/amr/dotfiles/"]
       path = D:/amrbashir/.amrbashir.gitconfig

[includeIf "gitdir:D:/crabnebula-dev/"]
       path = D:/crabnebula-dev/.crabnebula-dev.gitconfig

[include]
  path = "~/dotfiles/shared/.gitconfig"
