Host *
    AddKeysToAgent yes

Host github.com
    HostName github.com
    IdentityFile ~/.ssh/id_github_auth

Host github-crabnebula
    HostName github.com
    IdentityFile ~/.ssh/id_github_crabnebula_auth
