/* Remove trash and sync icons */
.toolbar-tabbar.sync-and-trash-container {
  display: none;
}

/* Transparent blurred OmniDropdown */
.OmniDropdown {
  background: #21212177;
  backdrop-filter: blur(10px);
}

/* Remove white background behind webpanel icons */
#switch button.webviewbtn img {
  background-color: transparent !important;
}

/* Remove the panel left shadow */
#panels-container.left #switch {
  box-shadow: none !important;
}
