body {
  --colorAccentFg: #f6f6f6 !important;
}

#header {
  background-color: var(--colorBgDark);
}

/* Bookmark bar  start*/
.bookmark-bar {
  padding-bottom: 5px;
  border-color: var(--colorAccentBg) !important;
  stroke: none;
}

.bookmark-bar,
.bookmark-bar button {
  background-color: var(--colorBgLighter) !important;
}

.bookmark-bar button.highlighted {
  background-color: var(--colorAccentBgAlpha) !important;
}
/* Bookmark bar  end*/

/* toolbar (address bar) start */
.toolbar-mainbar {
  background-color: var(--colorBgLighter) !important;
}

.toolbar-mainbar:after {
  content: none !important;
}

.toolbar-tabbar.sync-and-trash-container {
  display: none;
}

.UrlBar-Addressfield {
  background-color: var(--colorBgDark);
  border-color: var(--colorBgDark);
}

.SearchField:focus-within,
.UrlBar-AddressField:focus-within {
  border-color: var(--colorAccentBg);
  box-shadow: none;
}
/* toolbar (address bar) end */

/* Tabs start*/
.tab {
  background-color: transparent !important;
}

.tab.active {
  background-color: var(--colorBgLighter) !important;
}

.tab.active .tab-header .favicon {
  filter: none !important;
}

.newtab button span svg {
  fill: var(--colorAccentBg);
}
/* Tabs end */

/* OmniDropDown start */
.OmniLinkItem--Highlighted,
.OmniLinkItem--Highlighted:hover {
  color: var(--colorAccentFg);
  fill: var(--colorAccentFg);
  background-color: var(--colorAccentBg);
}

.OmniLinkItem:not(.OmniLinkItem--Highlighted):hover {
  color: var(--colorAccentFg);
  background-color: var(--colorAccentBg);
}
/* OmniDropDown end */

/* Side Panels start */
#switch {
  background-color: var(--colorBgLighter) !important;
}

.panel-group {
  background-color: var(--colorBgLighter);
}

#switch button.webviewbtn img {
  background-color: transparent !important;
}

#panels-container.left #switch {
  box-shadow: none !important;
}

#switch .addwebpanel-wrapper > button,
#switch > button {
  fill: var(--colorAccentBg) !important;
  margin: 5px 0;
}

#switch .addwebpanel-wrapper > button:hover:not(.active),
#switch > button:hover:not(.active) {
  background-color: transparent !important;
  box-shadow: none !important;
}

#switch > button.active {
  border-color: transparent !important;
  background-color: transparent !important;
}

#switch > button.active img,
#switch > button.active svg,
#switch > div button.active,
#switch > button:hover:not(.active) img,
#switch > button:hover:not(.active) svg,
#switch > div button:hover:not(.active) {
  transform: scale(1.15);
  filter: drop-shadow(0px 0px 5px var(--colorAccentBg));
}

#panels-container:after {
  background-color: var(--colorAccentBg) !important;
}

/* Side Panels end */

/* Vivialdi icon start */
/* Credits: https://github.com/GabeVilela/Vivaldi-GX */
#titlebar
  .vivaldi
  svg
  > path[d="M11 20c3.94 0 6.14 0 7.57-1.43S20 14.94 20 11s0-6.14-1.43-7.57S14.94 2 11 2 4.86 2 3.43 3.43 2 7.06 2 11s0 6.14 1.43 7.57S7.06 20 11 20"] {
  d: path(
    "M10.036,19.044A3.385,3.385,0,0,1,9.476,19a2.821,2.821,0,0,1-2.027-1.479L.469,5.427A3.022,3.022,0,0,1,.3,2.547,2.932,2.932,0,0,1,2.616.98,2.694,2.694,0,0,1,5.367,2.387c.387.641.762,1.291,1.136,1.939l1.035,1.79c.422.733.845,1.467,1.281,2.193a3.051,3.051,0,0,0,3.2,1.57,3.084,3.084,0,0,0,2.737-2.337,2.769,2.769,0,0,0,.131-.9h0a4.28,4.28,0,0,0-.395-1.578,2.949,2.949,0,0,1,.08-2.59,2.925,2.925,0,0,1,2.117-1.461,2.81,2.81,0,0,1,2.522.893,2.832,2.832,0,0,1,.7,2.6,4.636,4.636,0,0,1-.563,1.241L12.68,17.315A3,3,0,0,1,10.036,19.044ZM3.01,1.955a1.989,1.989,0,0,0-.265.018A1.949,1.949,0,0,0,1.191,2.991a2.039,2.039,0,0,0,.145,1.937L8.315,17.017a1.823,1.823,0,0,0,1.325.993,1.962,1.962,0,0,0,2.174-1.194L18.486,5.243a3.856,3.856,0,0,0,.456-.977,1.833,1.833,0,0,0-.465-1.683A1.808,1.808,0,0,0,16.854,2a1.906,1.906,0,0,0-1.4.954,1.931,1.931,0,0,0-.04,1.716,5.242,5.242,0,0,1,.477,1.941h0a3.791,3.791,0,0,1-.176,1.228,4.061,4.061,0,0,1-3.57,3.034A4.025,4.025,0,0,1,7.963,8.824c-.44-.731-.866-1.47-1.292-2.21L5.637,4.826C5.266,4.183,4.894,3.539,4.511,2.9A1.7,1.7,0,0,0,3.01,1.955Z"
  );
}

#titlebar
  .vivaldi
  svg
  > path[d="M16.42 8.64l-4.17 7.23a1.39 1.39 0 0 1-1.15.76 1.33 1.33 0 0 1-1.32-.7c-.88-1.51-1.75-3-2.62-4.54l-1.6-2.77A1.4 1.4 0 0 1 6.7 6.51a1.34 1.34 0 0 1 1.3.72l1.17 2c.28.48.55 1 .84 1.45a2.2 2.2 0 0 0 1.84 1.14 2.24 2.24 0 0 0 2.36-2v-.23a2.34 2.34 0 0 0-.24-1 1.4 1.4 0 1 1 2.62-.87 1.46 1.46 0 0 1-.17.92z"] {
  d: none;
}

#titlebar .vivaldi svg > path[d="M3 5h16v2H3zM3 10h16v2H3zM3 15h16v2H3z"] {
  d: path(
    "M10.036,19.044A3.385,3.385,0,0,1,9.476,19a2.821,2.821,0,0,1-2.027-1.479L.469,5.427A3.022,3.022,0,0,1,.3,2.547,2.932,2.932,0,0,1,2.616.98,2.694,2.694,0,0,1,5.367,2.387c.387.641.762,1.291,1.136,1.939l1.035,1.79c.422.733.845,1.467,1.281,2.193a3.051,3.051,0,0,0,3.2,1.57,3.084,3.084,0,0,0,2.737-2.337,2.769,2.769,0,0,0,.131-.9h0a4.28,4.28,0,0,0-.395-1.578,2.949,2.949,0,0,1,.08-2.59,2.925,2.925,0,0,1,2.117-1.461,2.81,2.81,0,0,1,2.522.893,2.832,2.832,0,0,1,.7,2.6,4.636,4.636,0,0,1-.563,1.241L12.68,17.315A3,3,0,0,1,10.036,19.044ZM3.01,1.955a1.989,1.989,0,0,0-.265.018A1.949,1.949,0,0,0,1.191,2.991a2.039,2.039,0,0,0,.145,1.937L8.315,17.017a1.823,1.823,0,0,0,1.325.993,1.962,1.962,0,0,0,2.174-1.194L18.486,5.243a3.856,3.856,0,0,0,.456-.977,1.833,1.833,0,0,0-.465-1.683A1.808,1.808,0,0,0,16.854,2a1.906,1.906,0,0,0-1.4.954,1.931,1.931,0,0,0-.04,1.716,5.242,5.242,0,0,1,.477,1.941h0a3.791,3.791,0,0,1-.176,1.228,4.061,4.061,0,0,1-3.57,3.034A4.025,4.025,0,0,1,7.963,8.824c-.44-.731-.866-1.47-1.292-2.21L5.637,4.826C5.266,4.183,4.894,3.539,4.511,2.9A1.7,1.7,0,0,0,3.01,1.955Z"
  );
}

#titlebar .vivaldi svg path {
  fill: var(--colorAccentBg);
}

.vivaldi span.burger-icon {
  opacity: 1 !important;
}

.vivaldi:hover {
  background-color: var(--colorBgLighter);
}
/* Vivialdi icon end */
