[includeIf "gitdir:/mnt/d/amrbashir"]
       path = /mnt/d/amrbashir/.amrbashir.gitconfig

[include]
  path = "~/dotfiles/shared/.gitconfig"

[credential]
	helper = /usr/bin/git-credential-manager
	credentialStore = secretservice
