[Unit]
Description=Add SSH keys to agent
After=ssh-agent.socket
Wants=ssh-agent.socket

[Service]
Type=oneshot
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/bin/bash -c 'for pub in "%h"/.ssh/*.pub; do key="$${pub%%.pub}"; [ -f "$$key" ] && /usr/bin/ssh-add "$$key"; done'

[Install]
WantedBy=default.target
